/*importando a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*importando a fonte*/

/*822,560, 440, 330 */

/*Definindo propriedades para todo o site*/

#ocultar{
    color: #fff;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: #fa5353;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: hsl(0,0%,91%);
}

/*img{
    width: 100%;
}*/

body {
    color: var(--text-color);
    background-color: #1b182b;
    overflow-x: hidden;
}

/*Definindo propriedades para todo o site*/

/*Estilizando a barra de navegação*/
.header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 65px;
    background-color: #1b182b;
    padding: 1.5% 8.5%;
    justify-content: space-between;
    border-bottom: 2px soolid #2e2c38;
    z-index: 999;
}

.header_left{
    display: flex;
    align-items: center;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_right a{
    margin-left: 20px;
    color: #fff;
    display: flex;
    align-items: center;
}

.logo{
    color: #fff;
}

span{
    color: #fa5353;
}


.plataformas a{
    position: relative;
    top: 0;
}

.plataformas svg{
    position: relative;
    top: 2%;
}

.header_right a:hover{
    color: #fa5353;
}

.header_right a:active{
  transition: animacao_do_active 2s forwads;
  color: #fa5353;
  fill: #fa5353;
}

.header_right svg:hover{
    fill: #fa5353;
}
.header_right svg:active{
  transition: animacao_do_active 2s forwads;
  color: #fa5353;
  fill: #fa5353  
}


.header_right_mobile{
  display: none;
  align-items: center;
  fill: #fff;
}


.header_right_mobile svg:hover{
  fill: #fa5353;
}

.header_right_mobile svg:active{
  transition: animacao_do_active 2s forwads;
  color: #fa5353;
  fill: #fa5353;
}

/*Estilizando o menu oculto*/
.plataformas{
    height: 200px;
    position: relative;
    top: -2%;
}

.menu_oculto {
    display: none;
    position: absolute;
    width: 170px;
    height: 200px;
    background-color: #322f40;
    /*display: inline-block;*/
    border-radius: 10px;
    left: -4%;
    top: 60%;
}

.menu_oculto a{
  width: 100%;
  height: 100%;
}

.menu_oculto.active{
    display: inline-block;
}

.header_right img{
    width: 20px;
    height: 20px;
    position: relative;
    right: 20px;
}
/* Estilizando a navbar na parte direita com os seus icones*/
.plataformas, .carrinho,.entrar, .suporte{
    fill: #fff;
}

.plataformas:hover, .carrinho:hover, .entrar:hover, .suporte:hover{
    fill: #fa5353;
}

.plataformas:active, .carrinho:active, .entrar:active, .suporte:active{
  transition: animacao_do_active 2s forwads;
  color: #fa5353;
  fill: #fa5353;
}

/* Estilizando a navbar na parte direita com os seus icones*/

li{
    display: flex;
    align-items: center;
    width: 170px;
    height: 50px;
    cursor: pointer;
}

/*li:hover{
    background-color: grey;
}*/

#pc{
    color: #fff;
}

#pc:hover{
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#pc:active{
  transition: animacao_do_active 2s forwads;
  color: #fa5353;
  fill: #fa5353;
}

#playstation{
    color: #0070D1;
}

#playsation:hover{
    background-color: grey;
}

#playstation:active{
  transition: animacao_do_active 2s forwads;
  color: #fa5353;
  fill: #fa5353;
}

#xbox{
    color: #14B821;
}

#xbox:hover{
    background-color: grey;
}

#xbox:active{
  transition: animacao_do_active 2s forwads;
  color: #fa5353;
  fill: #fa5353;
}

#nintendo{
    color: red;
}

#nintendo:hover{
    background-color: grey;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

#nintendo:active{
  transition: animacao_do_active 2s forwads;
  color: #fa5353;
  fill: #fa5353;
}

.header_right li a{
    padding: 0px 10px 0px 20px;
}
/*Estilizando o menu oculto*/

/*Estilizando a barra de navegação*/

/*Estilizando o carousel*/
.block1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 745px;
    background-color: #1b182b;;
    padding-top: 50px;
  }

  .slide-image{
    display: none;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .slide-image.active {
    display: block;
    width: 1152px;
    height: 648px;
    cursor: pointer;
  }
  
  .slide-image img {
    width: 100%;
    height: auto;
  }

  .slide-image img:hover{
    opacity: 80%;
  }

  .slide-image img:active{
    opacity: 80%;
  }
  
/*Estilizando os icones em cima da imagem*/
    .carousel-text {
        bottom: 7%;
        left: 52%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        display: flex;
        position: relative;
    }

    /*.desconto{
        background-color: #322f40;
        width: 12.5%;
        height: 20%;
        border-radius: 5%;
        font-size: 1.5rem;
    }*/

    .valor{
        background-color: #322f40;
        width: 14.5%;
        height: 20%;
        border-radius: 5%;
        font-size: 1.5rem;
        margin-left: 2%;
    }


    .slide-image:hover .valor{
        background-color: #fa5353;
        opacity: 100%;
    }

    .slide-image:active .valor{
    transition: animacao_do_active 2s forwads;
    color: #fa5353;
    fill: #fa5353;
    }


    /*.slide-image:hover .desconto{
        background-color: #fa5353;
        opacity: 100%;
    }*/

/*Estilizando os icones em cima da imagem*/


/*Estilizando o botão de próximo e anterior*/
.slick-prev, .slick-next{
    fill: #fff;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }

  
.slick-prev:hover, .slick-next:hover{
    fill: #fa5353;
}

.slick-prev:active, .slick-next:active{
  transition: animacao_do_active 2s forwads;
  fill: #fa5353;
}

/*Estilizando jogos do site que estão em promoçao*/

/*Estilizando o texto dos jogos em promoção*/

.text_block2{
    background-color: #1b182b;
    height: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    fill: rgba(255, 255, 255, 1);
    margin-left: 11%;
}

.text_block2:hover{
    color: #fa5353;
    fill: #fa5353;
}

.text_block2:active{
  transition: animacao_do_active 2s forwads;
  color: #fa5353;
  fill: #fa5353;
}


/*Estilizando o texto dos jogos em promoção*/

/*Estilizando o carousel*/

.block2{
    width: 100%;
    height: 500px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    background-color: #1b182b;
  }

  .slider{
    width: 80%;
    height: 95%;
    cursor: pointer;
  }

  .slider img{
    width: 90%;
    height: 25%;
    cursor: pointer;
    border-radius: 4px;
    margin: auto;
  }

  .slider img:hover{
    opacity: 80%;
  }
  
  .slider img:active{
    opacity: 80%;
  }

  .titulo_do_jogo{
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 14%;
    margin-top: 4%;
    color: #fff;
  }

  .titulo_do_jogo span{
    color: #fff;
  }

  .carousel-text2{
    display: flex;
    margin-top: -10%;
    color: black;
  }

  .desconto2{
    background-color: rgb(250, 83, 83);
    border-radius: 10%;
    font-size: 1.3rem;
    width: 20%;
    height: 14%;
    text-align: center;
    margin-left: 5%;
  }

  .valor2{
    margin-left: 38%;
    font-size: 1.3rem;
    color: #fff;
  }

  .slick_prev, .slick_next{
    fill: #fff;
    border: none;
    background: none;
    cursor: pointer;
  }

  .slick_next:hover, .slick_prev:hover{
    fill: #fa5353;
  }

  .slick_next:active, .slick_prev:active{
    transition: animacao_do_active 20s forwads;
    fill: #fa5353;
  }

  .content-slide:hover{
    opacity: 80%;
  }

  .content-slide:hover .titulo_do_jogo{
    color: #fa5353;
  }

  .content-slide:hover #ocultar{
    color: #fa5353;
  }

  .content-slide:active{
    opacity: 80%;
  }

  .content-slide:active .titulo_do_jogo{
    transition: animacao_do_active 20s forwads;
    color: #fa5353;
  }

  .content-slide:active #ocultar{
    transition: animacao_do_active 20s forwads;
    color: #fa5353;
  }


  /*Estilizando o carousel*/


/*Estilizando jogos do site que estão em promoçao*/


/*Estilizando a parte de todos os jogos da páigina*/

  .block3{
    background-color: #1b182b;
    width: 100%;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 150px;
    display: grid;
    justify-content: center;
  }

  .block3_text{
    cursor: pointer;
    fill: #fff;
    display: flex;
    margin-bottom: 40px;
  }

  .block3_text:hover{
    color: #fa5353;
    fill: #fa5353;
  }
  
  .block3_text h2:hover{
    color: #fa5353;
    fill: #fa5353;
  }

  .block3_text:active{
    transition: animacao_do_active 20s forwads;
    color: #fa5353;
    fill: #fa5353;
  }

  .todos_os_jogos{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .todos_os_jogos a{
    color: #FFF;
  }

  .jogo_icone{
    margin-right: 10px;
  }

  .icone_imagem{
    width: 294px;
    height: 137px;
  }

  .icone_imagem img{
    width: 100%;
    height: 100%;
  }

  .icone_informacoes{
    width: 294px;
    height: 175px;
    margin-top: -6px;
    background-color: #322f40;
    z-index: 999;
  }

  .icone_plataformas{
    display: flex;
    height: 40px;
  }

  .icone_plataformas img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .icone_nome{
    margin-left: 20px;
    margin-top: 10px;
  }

  .icone_nome h2{
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .icone_valor{
    width: 254px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .icone_desconto{
    float: left;
    background-color: #fa5353;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }

  .icone_preco{
    float: right;
  }


/*Estilizando a parte de todos os jogos da páigina*/

#menu_de_3_linhas_novo{
  display: none;
}


/*keyframe padrão para o ative*/

@keyframes animacao_do_active {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

/*keyframe padrão para o ative*/